* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  --WINDOW_WIDTH: 720px;
  --WINDOW_HEIGHT: 600px;
}

ul,
ol {
  list-style-type: none;
}

/* #ball {
position: relative;
  height: ;
  width: ;
  background-color: blue;
  top: ;
  left: ;
  } */

#myCanvas {
  width: var(--WINDOW_WIDTH);
  height: var(--WINDOW_HEIGHT);
  background-color: azure;
  text-align: center;
}

#bar {
  position: fixed;
  height: 10px;
  width: calc(var(--WINDOW_WIDTH) / 5);
  background-color: blue;
  /* top: calc(var(--WINDOW_HEIGHT) - 50);
  left: 300px; */
}
