div#add-container {
  display: inline-block;
  padding: 30px 50px;
  border-radius: 5px;
  background-color: gainsboro;
}

table,
th,
td {
  border: none;
  border-collapse: collapse;
}

td {
  width: 100px;
}

th {
  text-align: left;
}

th > span#quantity {
  text-align: right;
}

tbody tr {
  background-color: white;
}

tbody tr:first-child {
  width: 200px;
}

tbody tr:nth-of-type(even) {
  background-color: gainsboro;
}

input,
button {
  padding: 10px 20px;
  border-radius: 5px;
}

button {
  background-color: rgb(32, 202, 32);
}

span#quantity {
  color: rgb(209, 38, 38);
}
