/* :root {
  --_1fifthHeight: calc(480 / 5) px; 
} */
/*
inset (top, right, bottom, left)
*/
div.container {
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
}

img {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  /* padding: 10px auto; */
}

#imgswap1 {
  clip-path: inset(0px 0px calc(96px * 4) 0px);
}

#imgswap2 {
  clip-path: inset(96px 0px calc(96px * 3) 0px);
}

#imgswap3 {
  clip-path: inset(calc(96px * 2) 0px calc(96px * 2) 0px);
}

#imgswap4 {
  clip-path: inset(calc(96px * 3) 0px 96px 0px);
}

#imgswap5 {
  clip-path: inset(calc(96px * 4) 0px 0px 0px);
}

p#result {
  color: greenyellow;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
