form {
  border: 5px solid blue;
  border-radius: 10px;
}

input#word {
  padding: 5px 10px;
  margin: 5px 20px;
  border-radius: 5px;
  font-size: large;
}

button {
  padding: 10px 10px;
  border-radius: 5px;
  margin: 5px 5px;
}
